@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid p-0 m-0 text-center first-screen">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-flex justify-content-end">
                <a class="btn btn-primary" href="/Account/Login">BOOK APPOINTMENT</a>
            </div>
        </div>
    </nav>
    <h1 class="display-4 fw-bold text-primary">Bytes Of Innovation,<br/> Smiles Of Perfection</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>@ViewData["ConnectionStatus"]</p>

  
</div>
