html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.first-screen {
    position: relative;
    background-image: url(../images/bg.png);
    background-size: cover; /* Ensures the image covers the whole container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    height: 80vh; /* Makes the element take up the full viewport height */
}
.first-screen-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}
.second-screen{
    margin-top: -50px;
}
.schedule-card {
    border: 2px solid transparent;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.login-box,
.register-box {
    max-width: 460px;
    margin: 7% auto;
}


.wrapper {
    display: flex;
}
/* Sidebar styling */
.sidebar {
    height: 100vh;
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    z-index: 998;
    background-color: #fff;
}

    /* Sidebar links */
    .sidebar .nav-link {
        color: #ddd;
        font-size: 18px;
    }

        .sidebar .nav-link.active {
            background-color: #f8f9fa;
            color: #001f3f !important;
            border-radius: 25px;
            margin: 0px 13px;
            /*  box-shadow: inset 0px 2px 10px #00000010;*/
        }

            .sidebar .nav-link.active i {
                background-color: #f3b303;
                font-size: 12px !important;
                width: 35px;
                height: 35px;
                padding: 10px !important;
                color: #fff;
                border: 2px solid #fff !important;
                border-radius: 50%;
            }

    /* Logout link to the bottom sidebar */
    .sidebar ul:last-child {
        margin-top: auto;
    }

ul > li > a .fas, ul > li > a .far, ul > li > a .fa {
    font-size: 15px;
    width: 40px;
    text-align: center;
}

.toggle-bars-menu {
    cursor: pointer;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: margin-left 0.3s ease;
}

.container-fluid {
    margin-left: 0px;
    transition: margin-left 0.3s ease;
}

.sidebar-show {
    margin-left: -250px;
}

.container-fluid-show {
    margin-left: 0;
}


/* Media query for screens smaller than 991px */
@media (max-width: 991px) {
    .sidebar {
        position: fixed;
        left: -250px;
        transition: left 0.3s ease;
        margin-left: unset;
    }

    .sidebar-show {
        left: 0px;
    }

    .toggle-bars-menu {
        margin-left: 0px;
    }

    .toggle-bars-menu-show {
        margin-left: 250px;
    }

    .container-fluid {
        margin-left: 0; /* Adjust container margin */
    }
}
